*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    transition: 0.5s;
}
.navbar{
    height: 50px;
    z-index: 100;
}
.navbar-brand{
    font-size: 30px;
    text-transform: capitalize;
    color:#000 !important;
}
.navbar-brand span{
    color: royalblue !important;
}
.nav-link{
    font-size: 20px;
    color: royalblue!important;
}
.navbar-toggler .fa-solid{
    font-size: 23px;
    color: black !important;
}
.navbar-nav{
    text-align: center;
}
.carousel-item img{
    width: 100%;
    height: 80vh;
}
.carousel-item h1{
    position: absolute;
    top: 50px;
    left: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.services .header{
    text-align: center;
    margin-top: 50px;

}
.services .header h1{
    font-weight: 800;
    text-transform: capitalize;
}
.services .header h1 span{
    color: royalblue!important;
}
.services .header p{
    font-size: 18px;
}
.services .form{
    text-align: center;
}
.services .form .selector{
    width: 600px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    
}
.services .form .inp input:focus{
    outline: royalblue;
    box-shadow: 0 0 5px 2px royalblue;
    border: none;
}
.services .form .selector option{
    text-align: right;
    font-size: 20px;
    padding-right: 20px;
}
.services .form .inp input{
    width: 600px;
    height: 40px;
    margin-bottom: 20px;
}
.services .form .inp input::placeholder{
    text-align: right;
    padding-right: 20px;
}
.services .form .inp button{
    width: 600px;
    height: 40px;
    background-color: royalblue;
    border: none;
    color: #fff!important;
    font-size: 25px;
    margin-bottom: 50px;
}

.about .header{
    text-align: center;
    margin-top: 50px;
}
.about .header h1{
    font-weight: 800;
    text-transform: capitalize;
}
.about .header h1 span{
    color: royalblue!important;
}
.about .header p{
    font-size: 18px;
}
.about .content img{
    width: 300px;
}
.about .con{
    margin-top: 30px;
}
.about .content1 h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
.about .content1 h1 span{
  color:royalblue!important ;

}


.portfolio .header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.portfolio .port{
    margin-bottom: 50px;
}
.portfolio .header h1{
    font-weight: 800;
    text-transform: capitalize;
}
.portfolio .header h1 span{
    color: royalblue!important;
}
.portfolio .header p{
    font-size: 18px;
}
.portfolio .im{
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
.portfolio .im img{
    width: 100%;
    height: 100%;
    margin: 3px;
}
.contact .loca{
    width:500px;
    height: 400px;    
}

.contact .header{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact .port{
    margin-bottom: 50px;
}
.contact .header h1{
    font-weight: 800;
    text-transform: capitalize;
}
.contact .header h1 span{
    color: royalblue!important;
}
.contact .header p{
    font-size: 18px;
}
.contact .sochial{
    text-align: center;
    padding: 20px 60px;
}
.contact .sochial h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
}
.contact .sochial h1 span{
  color:royalblue!important ;

}
.contact .sochial p{
    font-size: 25px;
}
.contact .sochial .icons i{
    font-size: 25px;
    margin: 4px 7px;
    cursor: pointer;
}
.footer{
    width: 100%;
    margin-top: 50px;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer h1{
    font-size: 30px;
    margin: 10px;
}
.footer p{
    font-size: 25px;
    margin: 10px;
}
.footer .my{
    text-align: center;
}




















@media (min-width:750px) and (max-width:999px){
    .services .form .inp input{
        width: 500px;
    }
    .services .form .inp button{
        width: 500px;
    }
    .services .form .selector{
        width: 500px;
    }
    .navbar{
        height: 80px;
    }
    .navbar-nav{
        background-color: #fff !important;   
    }
    .navbar-brand{
        font-size: 40px;
    }
    .navbar-toggler .fa-solid{
        font-size: 35px;
    }
    .contact .loca{
        margin-left: 80px;
    }
    .sochial{
        margin-left:100px;
    }
}
@media(min-width:500px) and (max-width:749px){
    .carousel-item h1{
        left: 20%;
    }
    .navbar-nav{
        background-color: #fff!important;   
    }
    .services .form .inp input{
        width: 350px;
        margin-bottom: 15px;
    }
    .services .form .inp button{
        width: 350px;
    }
    .services .form .selector{
        width: 350px;
        font-size: 15px;
    }
    .about .con{
        text-align: center;
    }
    .contact .loca{
        margin-left: 30px;
    }
}
@media(max-width:499px){
    .carousel-item h1{
        left: 20%;
        font-size: 25px;
    }
    .navbar-nav{
        background-color: #fff!important;   
    }
    .services h1{
        font-size: 25px;
    }
    .services .form .inp input{
        width: 200px;
        margin-bottom: 15px;
    }
    .services .form .inp button{
        width: 200px;
    }
    .services .form .selector{
        width: 200px;
        font-size: 15px;
    }
    .about .con{
        text-align: center;
    }
    .portfolio .im{
        text-align: center;
        margin-left: 40px;
    }
    .contact .loca{
       width: 250px;
       height: 300px;
       margin-left: 20px;
    }
    .footer h1{
        font-size: 20px;
        margin: 10px;
    }
    .footer p{
        font-size: 15px;
        margin: 10px;
    }
}